In [15]:
import pandas as pd
data = {"name":["ayo","imran","chucks"],"age":[10,14,15],}
df =pd.DataFrame(data)
df

     name  age
0     ayo   10
1   imran   14
2  chucks   15

In [16]:
dict_data = {"state":["abia","adamawa","lagos","osun","rivers"],"capital":["umuahia","yola","ikeja","osogbo","portharcourt"],"area":[6320,36917,3345,9251,11077],"population":[2845380,3178950,9113605,3416959,5198605]}
df = pd.DataFrame(dict_data)
df

     state       capital   area  population
0     abia       umuahia   6320     2845380
1  adamawa          yola  36917     3178950
2    lagos         ikeja   3345     9113605
3     osun        osogbo   9251     3416959
4   rivers  portharcourt  11077     5198605